body{
  background-color: #d2e603;
  color: black;
  font-family: Courier, serif;
  font-weight: bolder;
  font-variant: small-caps;
  font-style: italic;
  text-decoration: none;
  background-repeat: repeat;
}
hr{
border-style: none;
border-top-style: dashed;
border-color: red;
border-width: 5px;
width: 10%;
}

h3{
  color: red;
}
p strong {
  color: red;
}
